junior20cake.tmproj		# TMate's Project file
junior20cake.sublime-project	# Sublime Text's Project file
junior20cake.sublime-workspace	# Sublime Text's Project file

app/config/database.php		# Local database configuration file
app/config/core.php

app/files/facturaselectronicas/*	# Invoice's pdf file store folder
idd	# Project and Documentation folder

