BODY {
	padding-top: 40px;
}

input[type=radio] {

	margin-left: 8px;
	margin-right: 4px;

}


TABLE THEAD TH {
	color: #08c;
}

/*
#header {

	top: 0px;
	width: 100%;
	height: 50px;
	min-height: 50px;
	max-height: 50px;
	z-index: 1;
	background-color: transparent;
	margin-top: 0px;
	margin-bottom: 8px;
	border: 0px none;
	padding: 0px;
	opacity: 0.7;
}
*/

#wrapper {
/*	padding-top:20px;*/
/*	background: transparent;*/
	width: 100%;
}


#content {
	width: 100%;
/*	background: transparent;*/
}


.ui-tabs {
/*
	background-color: #e0e0e0;
*/
}

/* IDD Added Styles */
#busy-indicator-div { vertical-align: middle; text-align: center; width: 36px; height:100%;  border: 0px none; margin-top: 10px; margin-right:2px; opacity: 0.75;}
#busy-indicator { display:none; width:20px; height:20px; padding: 0px; margin: 0px; border: 0px none; top: 0px; }


/* Master-Detail Tables */

.gridWrapper {
	width: 100%;
/*
	padding: 0px;
	margin: 0px;
	border: 0px solid;
*/
}

#datagrid {
	width: 99.99%;
/*	font-size: 90%;*/
/*
	margin-bottom: -16px;
	-webkit-border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
*/
}

#datagrid tr {
/*	background-color: #f0f0f0;*/
/*	padding: 0px; */
/*	border: none;*/
}

#datagrid thead tr {
	color: #08c;
	vertical-align: middle;

	background-color: #bbb;

	text-align: center;
}

#datagrid thead th {
/*	padding: 4px 4px 4px 4px;*/
/*	border: 2px solid #2010A0;*/
	font-size: 115%;
	vertical-align: middle;
}

#datagrid thead tr.tablefilter th {
	text-align: left;
	padding: 4px;
	vertical-align: middle;
/*	border: 2px solid #2010A0;*/
/*	font-size: 10pt;*/
	font-size: 90%;
	text-align: left;
}

#datagrid thead tr.rowfilter td {
	text-align: left;
	font-size: 90%;
}

#datagrid thead th input[type=search] {
/*
	padding: 1px 8px 1px 8px; 
	margin: 2px 16px 2px 2px; 
	line-height: 100%;
	border: 1px solid #000000;
*/
	padding: 2px 8px 2px 8px; 
	margin: 2px 16px 2px 2px; 
	font-size: 90%;
	line-height: 90%;
	width: 66.66%;
	text-align: left;

}


#datagrid tbody tr {
/*
	background-color: #e0e0e0;
*/
}

#datagrid tbody tr:nth-child(2n) {
/*
	background-color: #cacaca;
*/
}

#datagrid tbody tr:hover {
/*
	background-color: #F0E075;
*/
	color: black;
}

#datagrid tbody td {
/*
	background-color: transparent;
	padding: 2px 4px 2px 4px;
*/
 /*
	padding: 2px 4px 2px 4px;
	border: none;
	background-color: transparent;
*/
}

#datagrid tbody td:hover {
	font-weight: bold;
}

DIV#debug {
	position: relative;
	margin-top: 64px;
}

DIV#footer {
	margin-top: 16px;
}

.cake-sql-log {
	margin: 2px;
	padding: 16px;
	position: relative;
	background-color: #505070;
	color: #d0d0e0;
	opacity: .50;
	width: 100%;
}


DIV.related-records {
	padding: 8px;
	height: 240px;
	max-height: 240px;
	width: 200px;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 10px;
}

#related-records-container {
	vertical-align: top;
}

DIV.related-records LI {
	font-size: 85%; 
 	line-height: 110%;
	padding: 0px;
	margin: 0px;
}


/*
.itemrecorddata { 
	font-weight: normal;
	font-style: italic;
}
.itemrecorddata label {
	font-weight: bold;
	font-style: plain;
}
*/

/*
input[type=text] {
	border:1px solid #ccc;
	-webkit-box-shadow: 1px 1px 2px #303030;
	-moz-box-shadow: 1px 1px 2px #303030;
	box-shadow: 1px 1px 2px #303030;
	color: #000000;
	background-color: #FFFFFF;
	padding: 2px;
	font-family: helvetica, arial, sans-serif;
	font-size: 100%;
	-webkit-border-radius:3px 0 0 3px;
	-moz-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
}
*/
/*
textarea {
	font-size: 100%;
	padding: 2px;
	font-family: helvetica, arial, sans-serif;
}

label {
	color: #2010A0;
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
}
*/

input[type=search]:focus,input[type=text]:focus,select:focus,textarea:focus {
	background-color: #FAEA90;
	font-weight: bold;
	color: #000;
}

/*
select {
	font-size: 100%;
	font-family: helvetica, arial, sans-serif;
}

select:focus {
	font-size: 100%;
}
*/
/* begin: Transaction Monitors styles */
#monitorWrapper {
	width: 100%;
	background-color: yellow;
}

#monitorgrid {
	background-color: red;
	border: 2px solid #2010A0;
	padding: 0px;
	margin: 0px;
	font-size: 80%;
	width: 100%;
}

#monitorgrid tr {
	background-color: #303030;
	padding: 0px;
	border: none;
	color: #e0e0e0;
}

#monitorgrid th {
	padding: 2px 4px 2px 4px;
/*	border:1px solid #303030;*/
/*	text-align: left;*/
/*	border: none; */
	font-size: 120%;
	color: #f9f9f9;
}

/*
#monitorgrid tbody tr {
	background-color: #606060;
}
*/
/*
#monitorgrid tbody tr:nth-child(2n) {
	background-color: #505050;
}
*/


#monitorgrid tbody td:hover {
/*	background-color: transparent;*/
	font-weight: bold;
1}
/* end: Transaction Monitors styles */



/* jQuery Tabs Styles */

.ui-tabs-nav {
/*	background: #bababa;
	color: #2010A0;
	padding: 0px;
	margin: 0px;
*/
}


/*
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
}

.ui-tabs-nav li {
	font-style: italic;
}

.ui-tabs-nav li a:link {
	font-style: italic;
	cursor: pointer;
}

.ui-tabs-nav .ui-tabs-selected {
	font-style: normal;
	font-weight: bold;
	text-decoration: underline;	

}
*/
/*
.ui-tabs .ui-tabs-panel {
	border: 2px solid #2010A0;
	padding: 2px;
	min-height:500px;
	max-height:500px;
	overflow-y: auto;
}
*/
/*
#tabs {
	padding: 0px;
	margin: 0px;
}
*/
/*
div.actions {
	font-size: 110%;
}

div.actions ul li {
	display: inline;
	list-style-type: none;
	padding-right: 16px;
}
*/
/*
div.auto_complete    {
     position         :absolute;
     width            :250px;
     background-color :white;
     border           :1px solid #888;
     margin           :0px;
     padding          :0px;
} 
li.selected    { background-color: #ffb; }
*/
/* IDD: Table's fields styles */
.listButton {
	width: 40px;
	text-align: center;
	vertical-align: middle;
}

.id {
	width: 30px;
	text-align: right;
}

.refer {
	width: 50px;
	font-weight: bold;
	text-align: left;
}

.date {
	width: 75px;
	text-align: right;
}

.datetime {
	width: 125px;
	text-align: left;
}

.timestamp {
	width: 100px;
	text-align: left;
}

.cve {
	width: 110px;
	text-align: left;
}

.cveart {
	width: 110px;
	font-weight: bold;
	text-align: left;
}

.cveven {
	width: 40px;
	text-align: left;
}

.cvepro {
	width: 60px;
	text-align: left;
}

.cvecli {
	width: 60px;
	text-align: left;
}

.tda {
	width: 50px;
	text-align: left;
}

.descrip {
	text-align: left;
}

.locfor {
	width: 30px;
	text-align: left;
}

.tipo {
	width: 40px;
	text-align: left;
}

.email {
	width: 100px;
	text-align: left;
}

.tipoarticulo {
	width: 70px;
	text-align: left;
}

.tipocontacto {
	width: 60px;
	text-align: left;
}

.st {
	width: 30px;
	text-align: left;
}

.licve {
	width: 60px;
	text-align: left;
}

.macve {
	width: 80px;
	text-align: left;
}

.tecve {
	width: 80px;
	text-align: left;
}

.dicve {
	text-align: left;
	width: 40px;
}

.tcambio {
	width: 50px;
}

.cant {
	text-align: right;
	width: 50px;
}

.precio {
	text-align: right;
	width: 60px;
}

.sum {
	text-align: right;
	width: 100px;
}

.subtotal {
	text-align: right;
	width: 100px;
}

.total {
	text-align: right;
	width: 100px;
}

.esedo {
	width: 100px;
	word-wrap: break-word;
	word-break: break-all;
}

.papais {
	width: 100px;
}

.atn {
	width: 150px;
}

.submit {
	height: 24px;
}

.ip {
	width: 100px;
}

.sqltext {
	max-width: 400px;
	
}
/*
.ui-autocomplete { 
	font-size: 90%;
	font-family: helvetica, arial, sans-serif;
	font-weight: normal;
}	

ul.ui-autocomplete {
	box-shadow: 3px 3px 5px #202020;
	-webkit-box-shadow: 3px 3px 5px #202020;
	-moz-box-shadow: 3px 3px 5px #202020;
}
*/
form.login {
	width: 240px;
	font-size: 12px;
	padding: 8px;
	margin: 8px;
	border: 1px solid #303030;
	color: #2010A0;
/*
	box-shadow: 3px 3px 5px #202020;
	-webkit-box-shadow: 3px 3px 5px #202020;
	-moz-box-shadow: 3px 3px 5px #202020;
*/
}

.emphatize {
	font-weight: bold;
}

.tableactionicon {
	width: 32px;
	height: 32px;
	border: 0px none;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
}

div.index {
	width: 100%;
	text-align: center;
	padding: 0px;
	margin: 0px;
	border: 0px none;
}


.monitor-frame {
	width: 100%;
	height: 480px;
	border: 0px none;
}

.index-form {
	text-align: center;
}

#pagination-container {
	text-align: center;
	vertical-align: middle;
	width: 99.5%;
	margin-top: 2px;
}

#pagination-container p {
	text-align: center;
	vertical-align: middle;
}

.shadow {
	box-shadow: 3px 3px 5px #202020;
	-webkit-box-shadow: 3px 3px 5px #202020;
	-moz-box-shadow: 3px 3px 5px #202020;
}

.roundcorners {
	-webkit-border-radius:6px 0 0 6px;
	-moz-border-radius:6px 0 0 6px;
	border-radius:6px 0 0 6px;
}

.roundedcorners {
	-webkit-border-radius:6px 6px 6px 6px;
	-moz-border-radius:6px 6px 6px 6px;
	border-radius:6px 6px 6px 6px;
}

.bordered {
	border: 1px solid black;
}

.bordered-hard {
	border: 2px solid black;
}

.transparent-half {
	opacity: 0.5;
}

.transparent-dark {
	opacity: 0.33;
}

.transparent-dark {
	opacity: 0.85;
}

.chat_window {
	max-height: 240px;
	height: 240px;
	overflow-y: scroll;
}

DIV.multiple-input {
	max-height: 240px;
	overflow-y: scroll;
}

/* Column Width Classes */

.col0 {
	width: 25pt;
	min-width: 25pt;
}

.col1 {
	width: 35pt;
	min-width: 35pt;
}

.col2 {
	width: 50pt;
	min-width: 50pt;
}

.col3 {
	width: 75pt;
	min-width: 75pt;
}

.col4 {
	width: 100pt;
	min-width: 100pt;
}

.col5 {
	width: 150pt;
	min-width: 150pt;
}


/* General */

body {
    padding-top: 90px;
    padding-bottom: 40px;
}

.center {
    text-align: center;
}

.show-grid {
    margin-top: 10px;
    margin-bottom: 20px;
}

.page-header-custom {
    margin-bottom: 18px;
}

.page-header-custom h2 {
    margin-bottom: 10px;
}

.ui-dialog .ui-dialog-titlebar {
    padding-left: 5px;
}

/* End General */

/* Menu */

.navbar .container-fluid {
    height: 75px;
}

.navbar .brand {
    padding-top: 15px;
}

.navbar .brand img {
    height: 45px;
}

.navbar li a {
    font-size: 12px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.70;
    -khtml-opacity: 0.70;
    opacity: 0.70;
}

.navbar li a:hover {
    color: #FFFFFF;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.navbar .nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
}

[class^="nav-icon-"], [class*=" nav-icon-"] {
    line-height: 14px;
    vertical-align: text-top;
}

.navbar #primary-nav {
    margin-left: 10px;
}

.navbar #primary-nav > li > a {
    padding-top: 14px;
    padding-left: 14px;
    padding-right: 14px;
    text-align: center;
}

.navbar #primary-nav > li > a > i {
    display: inline-block;
    width: 28px;
    height: 25px;
}

.navbar #primary-nav > li > a > span {
    display: block;
}

.navbar #primary-nav > li > a > i.nav-icon-1 {
    background: url('../img/nav-icon-1.png') no-repeat top center;
}

.navbar #primary-nav > li > a > i.nav-icon-2 {
    background: url('../img/nav-icon-2.png') no-repeat top center;
}

.navbar #primary-nav > li > a > i.nav-icon-3 {
    background: url('../img/nav-icon-3.png') no-repeat top center;
}

.navbar #primary-nav > li > a > i.nav-icon-4 {
    background: url('../img/nav-icon-4.png') no-repeat top center;
}

.navbar #primary-nav > li > a > i.nav-icon-5 {
    background: url('../img/nav-icon-5.png') no-repeat top center;
}

.navbar #primary-nav > li > a > i.nav-icon-6 {
    background: url('../img/nav-icon-6.png') no-repeat top center;
}

.navbar #primary-nav > li > a > i.nav-icon-7 {
    background: url('../img/nav-icon-7.png') no-repeat top center;
}

.navbar #primary-nav > li > a > i.nav-icon-8 {
    background: url('../img/nav-icon-8.png') no-repeat top center;
}

.navbar #primary-nav > li > a > i.nav-icon-9 {
    background: url('../img/nav-icon-9.png') no-repeat top center;
}

.navbar #primary-nav > li > a > i.nav-icon-10 {
    background: url('../img/nav-icon-10.png') no-repeat top center;
}

.navbar #primary-nav > li > a > i.nav-icon-11 {
    background: url('../img/nav-icon-11.png') no-repeat top center;
}

.navbar #primary-nav > li > a > i.nav-icon-12 {
    background: url('../img/nav-icon-12.png') no-repeat top center;
}

.navbar #primary-nav > li > a > i.nav-icon-13 {
    background: url('../img/nav-icon-13.png') no-repeat top center;
}

.navbar #primary-nav > li > a > i.nav-icon-14 {
    background: url('../img/nav-icon-14.png') no-repeat top center;
}

.navbar #secondary-nav > li > a {
    padding-top: 28px;
}

/* End Menu */

/* Subnav */
.subnav {
    width: 100%;
    height: 36px;
    background-color: #eeeeee;
 /* Old browsers */
    background-repeat: repeat-x;
 /* Repeat the gradient */
    background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
 /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee));
 /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%);
 /* Chrome 10+,Safari 5.1+ */
    background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%);
 /* IE10+ */
    background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%);
 /* Opera 11.10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 );
 /* IE6-9 */
    background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%);
 /* W3C */
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.subnav .nav {
    margin-bottom: 0;
}

.subnav .nav > li > a {
    color: #333333;
    margin: 0;
    padding-top: 11px;
    padding-bottom: 11px;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #e5e5e5;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
    padding-left: 13px;
    color: #777;
    background-color: #e9e9e9;
    border-right-color: #ddd;
    border-left: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}

.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
    border-top-color: #777;
}

.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
    border-left: 0;
    padding-left: 12px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.subnav .nav > li:last-child > a {
    border-right: 0;
}

.subnav .dropdown-menu {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

/* End Subnav */

/* Login Form */

#login-page {
    background: #38393B url(../img/linen-bg.jpg) repeat;
}

#login .row.logo {
    padding-top: 100px;
}

#login input[type=text], #login input[type=password] {
    width: 223px;
}

#login .well {
    background: none;
    border: none;
    box-shadow: none;
}

/* End Login Form */

/* Dashboard */

#columns .column {
    float: left;
    width: 33.3%;
 /* Min-height: */
    min-height: 400px;
    height: auto !important;
}

#columns #widget1 .widget {
    margin-right: 10px;
}

#columns #widget2 .widget {
    margin-left: 10px;
    margin-right: 10px;
}

#columns #widget3 .widget {
    margin-left: 10px;
}

#columns .widget {
    margin: 20px 0px 0px 0px;
    padding: 0px;
    position: relative;
    border: 1px solid #DDDDDD;
}

#columns .widget .widget-head {
    overflow: hidden;
    background-color: #F0F0F0;
    width: 100%;
    border-bottom: 1px solid #DDDDDD;
}

#columns .widget .widget-head span {
    color: #0088CC;
    text-shadow: #fff 0 1px;
    font-size: 15px;
    line-height: 25px;
    padding-left: 5px;
    white-space: nowrap;
    float: left;
}

#columns .widget .widget-content {
    padding: 0px;
    line-height: 18px;
    overflow: hidden;
    text-align: center;
}

#columns .widget .widget-iframe {
    width: 100%;
    height: 180px;
    border: none;
}

.widget-head a.remove {
    float: right;
    display: inline;
    background: url(../img/buttons.png) no-repeat -20px 0;
    width: 12px;
    height: 12px;
    margin: 6px 1px 4px 0;
    text-indent: -9999em;
    outline: none;
}

.widget-head a.edit {
    float: right;
    display: inline;
    background: url(../img/buttons.png) no-repeat -3px 0;
    width: 12px;
    height: 12px;
    text-indent: -9999em;
    margin: 6px 6px 4px 4px;
    outline: none;
}

.widget-head a.collapse {
    float: left;
    display: inline;
    background: url(../img/buttons.png) no-repeat -48px 0;
    width: 12px;
    height: 12px;
    text-indent: -9999em;
    margin: 6px -3px 4px 7px;
    outline: none;
}

.widget-placeholder {
    border: 2px dashed #777;
    margin: 18px 8px 0px 8px;
}

.collapsed .widget-head a.collapse {
    background-position: -34px 0;
}

.collapsed .widget-content {
    display: none !important;
}
/* End Dashboard */


.tallacolorModal {
	width: 800px; /* SET THE WIDTH OF THE MODAL */
	max-width: 800px;
	margin: -250px 0 0 -400px; /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
}